<html>
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="createPartner_New.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="contenedor">
      <div id="navegacionCreateP">

        <label id="cinta">
          <span class="selec">Datos Personales</span>
          <span class="noselecc">Datos de Tienda</span>
          <span class="noselecc">Negocio</span>
          <span class="noselecc">Contraseña</span>
        </label>

        <label>
          <div class="line"></div>
          <div class="linestrong"></div>
        </label>

      </div>

      <div class="formularioTotal">

        <div id="imagenesForm">
          <img id="funcionario" src="ImagFunkos/funcionario2.png">
        </div>
        <div id="form">
          <form id="formulario">
            <label for="formulario">
              <span>Nombre</span><input type="text" name="field1" required="true" />
            </label>
            <label for="formulario">
              <span>Apellidos</span><input type="text" name="field2" required="true" />
            </label>
            <label for="formulario">
              <span>Nacimiento</span><input type="date" name="field3" required="true" />
            </label>
            <label for="formulario">
              <span>Email</span><input type="email" name="field4" required="true" />
            </label>
            <label for="formulario">
              <span>Telefono</span><input type="tel" name="field5" required="true" />
            </label>
            <label for="formulario">
              <span>DNI</span><input type="tel" name="field6" required="true"/>
            </label>
            <button type="submit" value="Submit" id="botonRegistrar">Siguiente </button>
          </form>
        </div>

      </div>
      
    </div>
  </body>
</html>

