<html>
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="createPartner_Confirmation.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="contenedor">
      <div id="Whole">
      <div id="Correo">
        <img src="ImagFunkos/Email.PNG" id="ImgCorreo">
      </div>
      <div id="Texto">
        <label>
        <span id="T1">Gracias!!</span><br>
        </label>
        <label>
        <span id="T2">Acabamos de enviar un email de confirmacion</span><br><br>
        </label>
        <label>
        <span id="T3">Revisa tu bandeja de entrada!</span>
        </label>
      </div>
      <div>
        <img src="ImagFunkos/funcionario1.png" id="func">
      </div>
      </div>
    </div>
  </body>
</html>

