<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="createClient.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="textito">
      <p id="texto">1) &nbsp;&nbsp;   Informacion Personal</p>
    </div>
    <img src="ImagFunkos/cabeza.png" id="createSM">
    <div class="contenedor">
      <div class="triangle">
      </div>
      <form id="formUser" method="get">
        <p class="letras" id="nombre">Nombre</p>
        <input form="formUser" type="text" class="content" placeholder="Juan">
        <p class="letras" id="nombre">Apellidos</p>
        <input form="formUser" type="text" class="content" placeholder="Perez">
        <p class="letras" id="nombre">Fecha de Nacimiento</p>
        <input id="fnac"  form="formUser" type="date" class="content">
        <p class="letras" id="nombre">Email</p>
        <input form="formUser" type="email" class="content" placeholder="JP@gmail.com">
        <p class="letras" id="nombre">Celular</p>
        <input form="formUser" type="tel" class="content" placeholder="952244421">
        <p class="letras" id="nombre">Password</p>
        <input form="formUser" type="password" class="content">
        <button type="submit" value="Submit" id="botonRegistrar">Registrarse</button>
      </form>
    </div>
  </body>
</html>

