<html>
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="createPartner.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="textito">
      <p id="texto">1) &nbsp;&nbsp;   Informacion Personal</p>
    </div>
    <img src="ImagFunkos/i3.png" id="createSM">
    <div class="contenedor">
      <div class="triangle">
      </div>
      <form id="formUser" method="get">
        <p class="letras" id="nombre">Nombre Tienda</p>
        <input form="formUser" type="text" class="content" placeholder="Funko's Store">
        <p class="letras" id="nombre">Direccion</p>
        <input form="formUser" type="text" class="content" placeholder="Jiron de la Union">
        <p class="letras" id="nombre">Horario</p>
        <input form="formUser" type="text" class="content" placeholder="Lunes a Viernes 7am - 10pm">
        <p class="letras" id="nombre">Descripcion</p>
        <textarea form="formUser" class="content" placeholder="Describe tu tienda aqui!" style="width: 300px;
        height: 120px;">
          </textarea>
        <p class="letras" id="nombre">Password</p>
        <input form="formUser" type="password" class="content">
        <button type="submit" value="Submit" id="botonRegistrar">Registrarse</button>
      </form>
    </div>
  </body>
</html>

