<html>
    
    <head>
      <title>Encuentra tu Funko Favorito</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="HomePagePartner.css" rel="stylesheet" media="screen">
      <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/tt-norms-medium" type="text/css"/>
        
    </head>

    <body>

        <div id="Menu">
            <div id="Item1">
                <img src="ImagFunkos/cabeza.png" id="Usuario">
                <a id="TextoUsuario">Tienda Funkos #1</a>
            </div>
            <div id="Item2">
                <img src="ImagFunkos/icons8-home-24.png">
                <a style="color: black;">Home</a>
            </div>
            <div id="Item3">
                <img src="ImagFunkos/icons8-shopping-bag-24.png">
                <a>Reservas</a>
            </div>
            <div id="Item4">
                <img src="ImagFunkos/icons8-file-24.png">
                <a href="PartnerInventario.html">Inventario</a>
            </div>
            <div id="Item5">
                <img src="ImagFunkos/icons8-new-message-50.png">
                <a>Mensaje</a>
            </div>
            <div id="Item6">
                <img src="ImagFunkos/icons8-help-50.png">
                <a>Guia de Ayuda</a>
            </div>
            <div id="Item7">
                <img src="ImagFunkos/icons8-security-configuration-50.png">
                <a>Configuracion</a>
            </div>
            <div id="Item8">
                <img src="ImagFunkos/icons8-export-50.png">
                <a>Sign Out</a>
            </div>
        </div>

        <div id="Content">

            <div id = "Carrusel">
                <div class="Publicidad fade" style="grid-row:2;grid-column:2">
              
                    <img src="ImagFunkos/Carrusel.PNG" style="width: 48vw;left: 20%;">
                    
                  </div>
                  
                  <div class="Publicidad fade">
                 
                    <img src="ImagFunkos/Footer.PNG" style="width:48vw;left:20%;top:21%;height:44%">
                  
                  </div>
                  
                  <span class="dot" style="position: absolute;top: 60%;left: 49%;" onclick="currentSlide(1)"></span> 
                  <span class="dot" style="position: absolute;top: 60%;left: 51%;" onclick="currentSlide(2)"></span>
                  
                  
            </div>

            <div id="Footer">
                <img style="    position: relative;
                width: 100%;
                max-width: none;
                left: 0px;
                top: 0px;" src="ImagFunkos/FooterWhite.PNG">
            </div>

        </div>

        
        <script src="HomePagePartner.js"></script>
        
    </body>


</html>