<html>
  
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="HomePage.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">  </head>
  <header>
    <div id="Space1" class="Espacios"></div>
    <div id="Logo">
        <a>
            <img id="LogoHead" src="ImagFunkos/loguito.png">
        </a>
    </div>
    <div id="Space2" class="Espacios"></div>
    <div></div>
    <div></div>
    <div></div>
    <div style="left: -30px;position: relative;width: 110%;top: 10px;"> Log In</div>

  </header>
  <body>

    <div id="Start">
        <div id="Content">
            <div id="Texto">
                <a>
                    ¿No encuentras <br>
                    <a id="Textito2">tu Funko?</a> <br><br>
                    <a id="Textito">Encuentralo Aqui</a>
                </a>
            </div>

            <div id="Mercury">

                <img src="ImagFunkos/SyA-removebg-preview.png" style="width: 395px;height: 350px;top: 130px;position: relative;left: 90px;" >
    
            </div>
        </div>

    </div>



   
  </body>

  <footer>
    <div id="Box1" class="box">
        <a style="width: 50%;">¿Como Funciona?</a>
        <img style="height: 30%;top: 60px;position: relative;left: 130px;" src="ImagFunkos/icons8-down-arrow-50.png">
    </div>
    <div>
        
    </div>
    <div id="Box2" class="box">
        <a style="width: 50%;left: 250px;">¿Vendes Funkos?</a>
        <img style="height: 30%;top: 60px;position: relative;left: 170px;" src="ImagFunkos/icons8-down-arrow-50.png">

    </div>
  </footer>
</html>

