::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 2; /* Firefox */
}


textarea:focus, input:focus{
    outline: none;
}

button:focus {outline:0;}

body{
    background-color: rgba(242, 172, 41, 0.72);
    
}

.contenedor{
    background-color: white;
    border-radius: 25px;
    margin: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 560px;
    width: 1150px;
}

#supermanLogin{
    width: 310px;
    height: 310px;
    position: relative;
    left: 20px;
    top: 10px;
}

#marvelLogin{
    width: 330px;
    height: 350px;
    position: relative;
    left: 350px;
    top: 200px;
}

#logoLogin{
    width: 210px;
    height: 140px;

}

.Texto{
    font-family: 'Mukta Mahee', sans-serif;
}

#inUname{
    background: url(Icons/user.png) no-repeat scroll 1px 5px;
    background-position: 5px;
    border-radius: 25px;
    border: 5px transparent;
    margin: auto;
    background-size: 25px;
    padding-left:30px;
    width: 250px;
    height: 35px;
    background-color: rgb(43, 118, 217,0.70);
    
    color: black;
    position: relative;
    top: 20px;
}

#inPass{
    background: url(Icons/pass.png) no-repeat scroll 1px 9px;
    background-position: 6px;
    border-radius: 25px;
    border: 5px transparent;
    margin: auto;
    background-size: 21px;
    padding-left:30px;
    width: 250px;
    height: 35px;
    background-color: rgb(43, 118, 217,0.70);
    color: white;
    position: relative;
    top: 40px;
}

#forgotPass{
    position: relative;
    top: 34px;
    left: 161px;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

#botonLogin{

    border-radius: 25px;
    margin: auto;
    position: relative;
    border: 5px transparent;
    background-color: rgb(242, 172, 41);
    top: 50px;
    left: 25px;
    width: 200px;
    height: 50px;
    color: white;
}

#botonRegistrar{

    border-radius: 25px;
    margin: auto;
    position: relative;
    border: 5px transparent;
    background-color: rgb(242, 172, 41);
    top: 60px;
    left: 25px;
    width: 200px;
    height: 50px;
    color: white;
}

#botonPartner{

    border-radius: 25px;
    margin: auto;
    position: relative;
    border: 5px transparent;
    background-color: rgb(242, 172, 41);
    top: 70px;
    left: 25px;
    width: 200px;
    height: 50px;
    color: white;
}
#formLogin{
    position: relative;
    left: 790px;
    top: -630px;
    width: 250px;
    height: 250px;
}