<html>
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="login.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="contenedor">

        <div id="supermanLogin">
            <img src="ImagFunkos/i4.png" id="supermanLogin">
        </div>
        <!-- <p class="Texto">Peliculas</p>
        <p class="Texto">Series</p>
        <p class="Texto">Animes</p>
        <p class="Texto">Entretenimiento y mas</p> !-->
        <div style="position: relative;top: -300px;">
            <img src="ImagFunkos/i_batwoman.png" id="marvelLogin">
        </div>
        
        <form id="formLogin" method="get">
            <div>
                    <img src="ImagFunkos/Logo.PNG" id="logoLogin">
            </div>
            <input id="inUname" type="text" id="uname" placeholder="Username">
            <input id="inPass" type="password" id="pass" placeholder="Password">
            <p id="forgotPass">Olvide mi contraseña</p>
            <button type="submit" form="formLogin" value="Submit" id="botonLogin">Log In</button>
            <button type="submit" value="Submit" id="botonRegistrar">Registrarse</button>
            <button type="submit" value="Submit" id="botonPartner">Quiero ser Partner</button>

        </form>

    </div>
  </body>
</html>

