<html>
    
    <head>
      <title>Encuentra tu Funko Favorito</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="PartnerInventarioAdd.css" rel="stylesheet" media="screen">
      <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/tt-norms-medium" type="text/css"/>
    </head>

    <body>

        <div id="Menu">
            <div id="Item1">
                <img class= "menuimg" src="ImagFunkos/cabeza.png" id="Usuario">
                <a class="menutxt" id="TextoUsuario">Tienda Funkos #1</a>
            </div>
            <div id="Item2">
                <img class= "menuimg" src="ImagFunkos/icons8-home-24.png">
                <a href="HomePagePartner.html" class="menutxt" >Home</a>
            </div>
            <div id="Item3">
                <img class= "menuimg" src="ImagFunkos/icons8-shopping-bag-24.png">
                <a class="menutxt" >Reservas</a>
            </div>
            <div id="Item4">
                <img class= "menuimg" src="ImagFunkos/icons8-file-24.png">
                <a class="menutxt" style="color: black;">Inventario</a>
            </div>
            <div id="Item5">
                <img class= "menuimg" src="ImagFunkos/icons8-new-message-50.png">
                <a class="menutxt" >Mensaje</a>
            </div>
            <div id="Item6">
                <img class= "menuimg" src="ImagFunkos/icons8-help-50.png">
                <a class="menutxt" >Guia de Ayuda</a>
            </div>
            <div id="Item7">
                <img class= "menuimg" src="ImagFunkos/icons8-security-configuration-50.png">
                <a class="menutxt">Configuracion</a>
            </div>
            <div id="Item8">
                <img class= "menuimg" src="ImagFunkos/icons8-export-50.png">
                <a class="menutxt" >Sign Out</a>
            </div>
        </div>

        <div id="Content">
            <div id="TextoInv">
                <h2 style="font-family: 'TTNormsMedium'; font-size: 2vw;">Inventario de Funkos</h2>
            </div>
            <div id="Lupa">
                <img style="    position: absolute;
                max-width: 70%;
                top:3%;
                left: 84%;
                width: 3%;" src="ImagFunkos/icons8-search-64.png">
            </div>

            <div id="ContenedorInv">
                <div style="grid-area: c;" class="ClassInv">
                    <a style="grid-area: Linea1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Linea</a>
                    <a style="grid-area: Serie1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Serie</a>
                    <a style="grid-area: Numero1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Numero</a>
                    <a style="grid-area: Nombre1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Nombre</a>
                    <a style="grid-area: Precio1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Precio</a>
                    <a style="grid-area: StockBruto1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Stock Bruto</a>
                    <a style="grid-area: StockNeto1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Stock Neto</a>

                    
                </div>

                    <form style="grid-area: c1;background-color: rgb(240,240,241,1);" class="ClassInv">
                        <select style="grid-area: Linea1;color: black;font-size: 1vw;text-align: center;font-weight: bold;width: 6.5vw;margin-left: 5%;margin-top: 15%;"></select>
                        <select style="grid-area: Serie1;color: black;font-size: 1vw;text-align: center;font-weight: bold;width: 6.5vw;margin-left: 5%;margin-top: 15%;"></select>
                        <input style="grid-area: Numero1;color: black;font-size: 1vw;text-align: center;font-weight: bold;width: 6.5vw;margin-left: 5%;margin-top: 15%;">
                        <input style="grid-area: Precio1;color: black;font-size: 1vw;text-align: center;font-weight: bold;width: 3.5vw;margin-left: 26%;margin-top: 15%;"> 
                        <input style="grid-area: StockBruto1;color: black;font-size: 1vw;text-align: center;font-weight: bold;width: 6.5vw;margin-left: 5%;margin-top: 15%;"> 
                        <img style="grid-area: Delete1;position: absolute;left: 80%;
                        top: 19%;
                        width: 2%;" src="ImagFunkos/icons8-checked-48.png">
                        <img style="grid-area: Edit1;position: absolute;left: 85%;
                        top: 19%;
                        width: 2%;" src="ImagFunkos/icons8-cancel-48.png">
                    </form>


            </div>
        </div>
        <div id="Rectangulo" >
            <a href="PartnerInventario.html"><- Retornar</a>
        </div>
        
    </body>


</html>