<html>
    
    <head>
      <title>Encuentra tu Funko Favorito</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="PartnerInventario.css" rel="stylesheet" media="screen">
      <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/tt-norms-medium" type="text/css"/>
    </head>

    <body>

        <div id="Menu">
            <div id="Item1">
                <img class= "menuimg" src="ImagFunkos/cabeza.png" id="Usuario">
                <a class="menutxt" id="TextoUsuario">Tienda Funkos #1</a>
            </div>
            <div id="Item2">
                <img class= "menuimg" src="ImagFunkos/icons8-home-24.png">
                <a href="HomePagePartner.html" class="menutxt" >Home</a>
            </div>
            <div id="Item3">
                <img class= "menuimg" src="ImagFunkos/icons8-shopping-bag-24.png">
                <a class="menutxt" >Reservas</a>
            </div>
            <div id="Item4">
                <img class= "menuimg" src="ImagFunkos/icons8-file-24.png">
                <a class="menutxt" style="color: black;">Inventario</a>
            </div>
            <div id="Item5">
                <img class= "menuimg" src="ImagFunkos/icons8-new-message-50.png">
                <a class="menutxt" >Mensaje</a>
            </div>
            <div id="Item6">
                <img class= "menuimg" src="ImagFunkos/icons8-help-50.png">
                <a class="menutxt" >Guia de Ayuda</a>
            </div>
            <div id="Item7">
                <img class= "menuimg" src="ImagFunkos/icons8-security-configuration-50.png">
                <a class="menutxt">Configuracion</a>
            </div>
            <div id="Item8">
                <img class= "menuimg" src="ImagFunkos/icons8-export-50.png">
                <a class="menutxt" >Sign Out</a>
            </div>
        </div>

        <div id="Content">
            <div id="TextoInv">
                <h2 style="font-family: 'TTNormsMedium'; font-size: 2vw;">Inventario de Funkos</h2>
            </div>
            <div id="Lupa">
                <img style="    position: absolute;
                max-width: 70%;
                top:3%;
                left: 84%;
                width: 3%;" src="ImagFunkos/icons8-search-64.png">
            </div>

            <div id="ContenedorInv">
                <div style="grid-area: c;" class="ClassInv">
                    <a style="grid-area: N1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">#</a>
                    <a style="grid-area: Linea1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Linea</a>
                    <a style="grid-area: Serie1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Serie</a>
                    <a style="grid-area: Nombre1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Nombre</a>
                    <a style="grid-area: Precio1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Precio</a>
                    <a style="grid-area: Cantidad1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Cantidad</a>

                    
                </div>
                <div style="grid-area: c1;background-color: rgb(240,240,241,1);" class="ClassInv">
                    <a style="grid-area: N1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">1</a>
                    <a style="grid-area: Linea1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Star Wars</a>
                    <a style="grid-area: Serie1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">01</a>
                    <a style="grid-area: Nombre1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Chewbacca</a>
                    <a style="grid-area: Precio1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">S/. 50.00</a>
                    <a style="grid-area: Cantidad1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">4</a>
                    <img style="grid-area: Delete1;position: absolute;left: 80%;
                    top: 20%;
                    width: 2%;" src="ImagFunkos/icons8-remove-24.png">
                    <img style="grid-area: Edit1;position: absolute;left: 85%;
                    top: 20%;
                    width: 2%;" src="ImagFunkos/icons8-edit-64.png">
                </div>
                <div style="grid-area: c2;" class="ClassInv">
                    <a style="grid-area: N1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">2</a>
                    <a style="grid-area: Linea1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Peliculas</a>
                    <a style="grid-area: Serie1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Titanic</a>
                    <a style="grid-area: Nombre1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">Rose DeWitt</a>
                    <a style="grid-area: Precio1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">S/. 45.00</a>
                    <a style="grid-area: Cantidad1;color: black;font-size: 1vw;text-align: center;line-height: 300%;font-weight: bold;">1</a>
                    <img style="grid-area: Delete1;position: absolute;left: 80%;
                    top: 28%;
                    width: 2%;" src="ImagFunkos/icons8-remove-24.png">
                    <img style="grid-area: Edit1;position: absolute;left: 85%;
                    top: 28%;
                    width: 2%;" src="ImagFunkos/icons8-edit-64.png">
                </div>

            </div>
        </div>
        <div id="Rectangulo">
            <a href="PartnerInventarioAdd.html">+ Agregar Funko</a>
        </div>
        
    </body>


</html>