<html>
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="WelcomeClient.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="space1">
      <br>
      <br>


    </div>
    <div class="header">
      <h1>Bienvenido</h1>
      <h1>XXXXXX</h1>
      <h2 >Más de 1000 funkos aguardan por ti ! &nbsp;</h2>
      <form>
        <button>Ir Ahora</button>
      </form>
    </div>
    <div class="imgn">
      <img style="position: relative;" src="ImagFunkos/Tr-removebg-preview.png">
    </div>
  </body>
</html>

