<html>
  <head>
    <title>Encuentra tu Funko Favorito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="WelcomePartner.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="space1">
      <br>
      <br>


    </div>
    <div class="header">
      <h1>Bienvenido</h1>
      <h1>XXXXXX</h1>
      <h2 >La red más grande de funkos</h2>
      <h2>te abre sus puertas</h2>
      <form>
        <button>Empezar</button>
      </form>
    </div>
    <div class="imgn">
      <img style="position: relative;height: 400px;" src="ImagFunkos/funcionario3.png">
    </div>
  </body>
</html>

